// mall device
.s-0 {
  display: none;
}

.s-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

.s-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.s-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.s-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.s-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

.s-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.s-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.s-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.s-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.s-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.s-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%;
}

.s-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

/* Medium device */

@media (min-width: 720px) {
  .m-0 {
    display: none;
  }
  .m-1,
  .m-2,
  .m-3,
  .m-4,
  .m-5,
  .m-6,
  .m-7,
  .m-8,
  .m-9,
  .m-10,
  .m-11,
  .m-12 {
    display: block;
  }

  .m-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .m-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .m-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .m-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .m-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .m-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .m-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .m-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .m-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .m-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .m-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .m-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

// Large screen

@media (min-width: 960px) {
  .l-0 {
    display: none;
  }

  .l-1,
  .l-2,
  .l-2-4,
  .l-3,
  .l-4,
  .l-5,
  .l-6,
  .l-7,
  .l-8,
  .l-9,
  .l-10,
  .l-11,
  .l-12 {
    display: block;
  }

  .l-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .l-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .l-2-4 {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .l-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .l-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .l-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .l-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .l-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .l-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .l-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .l-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .l-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .l-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 1560px) {
  .xl-0 {
    display: none;
  }

  .xl-1,
  .xl-2,
  .xl-2-4,
  .xl-3,
  .xl-4,
  .xl-5,
  .xl-6,
  .xl-7,
  .xl-8,
  .xl-9,
  .xl-10,
  .xl-11,
  .xl-12 {
    display: block;
  }

  .xl-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .xl-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .xl-2-4 {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .xl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .xl-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .xl-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .xl-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .xl-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .xl-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .xl-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .xl-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .xl-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .xl-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
