<div class="chat"
     *ngIf="!isChatHide">
     <div class="chat-header">
          <div class="chat-title">Chat</div>
          <div (click)="hideOrUnhideChat()"
               class="chat-hidden-action"
               alt="Close">x</div>
     </div>
     <div class="conversation"
          #conversation>
          <div class="message"
               *ngFor="let chat of chats; index as i"
               [id]="i"
               [ngClass]="chat.isMe ? 'my-message' : 'cor-message'">
               {{chat.content}}
          </div>
     </div>

     <div class="create-message">
          <textarea rows="2"
                    [(ngModel)]="message"
                    (keyup.enter)="addMessage()"
                    placeholder="Enter content">
        </textarea>
          <img class="icon"
               alt="Send"
               (click)="addMessage()"
               src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAABmJLR0QA/wD/AP+gvaeTAAABkklEQVRIie3VvWsUQRgH4CeJ4BGipLGTFBZ+YJtaQtoYjCD+ARFSxsrGKgSElLFPoyBY2OVIa0CFBLFUuKRKqqBFTGwOP+4sZhc2w+3u3XoXguQHb3Pv3Dy7s7OznOc/yAim8Bx7eDdIrIa7WMM3tDO1129sFLN4iaMIy9ZqP7AreIQ6mjlQK+pNVcUmsIB1/MzB0vqBVwneFpb9Qi/YNTzG+8wkZbWLB04u+1o32G0s4XOXULY2kpX5Ev0+U4ZuVsDS57ksLGc96h0Lu70wHyqgR5hL/r/cof+6DJVc2Yse0B3h0cA9nffBw27gNAvKd24d48n4G/jeYUwTl3uB4Q4OOkzWwgqGk3GX5G/E9V7RNFexnZnoGPcz/SG8yUHbmK8Kw0XhPWzgVtRbKkB/CyfcPyd+JWbxpwDe7Aca5zoOC9A2FvuN1pSfai3hBMvNcFEzJ01slYz5hP0Kc5emho/y7/jpINA0E/iaA98cJAzT+BWhjUGjaZ5E8LPTgoeEL1AKT54WDGPCJ/VtciHnOTv5C+oR7Pjc+gqDAAAAAElFTkSuQmCC" />
     </div>
</div>

<img alt="chat"
     class="chat-cion"
     *ngIf="isChatHide"
     (click)="hideOrUnhideChat()"
     src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAABmJLR0QA/wD/AP+gvaeTAAABI0lEQVRYhe3WsUrDcBDH8Q8RHVwEBYW+gbr4BvoSjro4+wKCmxUc+kJ2cPEBnAOODgqi4GKmOiTFNk3/SbVpAu0XDpJw/7tfuLs/x4qWcIsEg5osQTckIMH2fP9pjB18hxwGNSYP5ogWkDjISkCrBcTKxyvO+caTYaqxNFMw9WIqUlelBPlSlCUfMnExNVGCAS2fguUUcJkZv401r2+VBDRGIh2NuijaB8amomtyI/rA2ojPner3QtFGdBMSkCfKDm1m7yd4w+4sQUoInt3Hc/Z8incczxrkPwJ6eEQfTzia4vfX3indEWPc4wzrAb+i3hm1q8xvQ1rCUE/MnUO8YAsdvNadsIgeHqTN+4m9RQuIcC1t4i+cL1rAkA4ucNCUgPbyAw7/hexe/s/CAAAAAElFTkSuQmCC" />