/* You can add global styles to this file, and also import other style files */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// common
.row {
  display: flex;
  flex-wrap: wrap;
}

.flex-center {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 2rem;
  height: 2rem;
  margin: 0.5rem;
  padding: 0.5rem;
  background-color: white;
  border-radius: 50%;
  color: black;
  cursor: pointer;
}
