<div class="call-container row">
    <div class="media-area s-12 m-9 l-10">
        <app-video-player *ngIf="localStream"
                          [mode]="'owner'"
                          [stream]="localStream"
                          class="my-video">
        </app-video-player>
        <app-video-player *ngFor="let user of joinedUsers"
                          [stream]="user.stream">
        </app-video-player>
    </div>
    <div class="chat-container s-12 m-3 l-2">
        <app-chat></app-chat>
    </div>
</div>