.call-container {
  height: 100vh;
  max-height: 100vh;
  width: 100vw;
  overflow-y: auto;

  .media-area {
    display: grid;
    grid-template-columns: auto auto;
    padding: 0.5rem;
    background-color: #171b29;
    max-height: 100vh;
  }

  .chat-container {
    height: 100vh;
    z-index: 3;
  }
}

.hide {
  display: none;
}

.chat-cion {
  position: fixed;
  bottom: 1.5rem;
  transform: translateX(-50%);
  z-index: 5;
  background-color: white;
  left: 50%;
  padding: 0.5rem;
  border-radius: 21%;
  cursor: pointer;
  border: 1px solid white;
  opacity: 0.5;
}

@media (max-width: 719px) {
  .icon-chat-show-mobile {
    left: 8%;
    bottom: 4.5rem;
  }
}

@media (min-width: 720px) {
  .call-container {
    height: 100vh;
    width: 100vw;
    .full-screen {
      height: 100vh;
      width: 100vw;
    }
    .media-area {
      height: 100vh;
      grid-template-columns: auto auto auto;
    }
  }
}
