.call-container {
  height: 100vh;
  width: 100vw;
  .media-area {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 0.5rem;
    background-color: #171b29;
    height: 60vh;
  }
  .chat-container {
    height: 40vh;
  }
  .full-screen {
    height: 100vh;
    width: 100vw;
  }

  app-video-player {
    height: fit-content;
  }

  @media (min-width: 719px) {
    .media-area {
      height: 100vh;
    }
    .chat-container {
      height: 100vh;
    }
  }
}
